body{
    font-family:font("font3");
    background-image: url('../../images/valorangBg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}