
<table class="timer-table">
    <tr class="timer-row">
        <th class="timer-heading">MAC</th>
        <th class="timer-heading">NAME</th>
        <th class="timer-heading">START</th>
        <th class="timer-heading">END</th>
        <th class="timer-heading">DURATION</th>
        <th class="timer-heading">CREDIT</th>
    </tr>
    <tr class="timer-row">
        <td class="timer-data">34:34:77:77:77:77</td>
        <td class="timer-data">Jer Carlo Catallo</td>
        <td class="timer-data">5:00 P.M.</td>
        <td class="timer-data">6:00 P.M.</td>
        <td class="timer-data">1 Hour</td>
        <td class="timer-data">15 Pesos</td>
        
    </tr>
</table>