<form #inputForm="ngForm" class="form ">

    <div class="form__grouping form-group">
        <label class="form__label" for="">NAME: </label>
        <input [(ngModel)]="formName" #name="ngModel" [class.is-invalid]="name.invalid && name.touched" required name="name" class="form__input form-control" type="text">
        
    </div>

    <div class="form__grouping form-group">
        <label class="form__label" for="">MINUTES:  </label>
        <input [(ngModel)]="formDuration" required [class.is-invalid]="duration.invalid && duration.touched" #duration="ngModel" name="duration" class="form__input form-control" type="number">
    </div>
    <div class="form__grouping form-group">
        <label class="form__label" for="">BALANCE: </label>
        <input [(ngModel)]="formBalance" required [class.is-invalid]="balance.invalid && balance.touched" #balance="ngModel" name="balance" class="form__input form-control" type="number">
    </div>
   
    <div class="form__grouping form-group">
        <label class="form__label" for="">ID: </label>
        <input [(ngModel)]="formId" disabled name="id" class="form__input form-control" type="number" >
    </div>
    <div class="form__grouping form-group">
        <label class="form__label" for="">START: </label>
        <input [(ngModel)]="formStart" disabled  name="start" class="form__input form-control" type="text">
    </div>
    <div class="form__grouping form-group">
        <label class="form__label" for="">END: </label>
        <input [(ngModel)]="formEnd" disabled  name="end" class="form__input form-control" type="text">
    </div>
 
    <button (click)="onFormSubmit()" [style.cursor]="inputForm.invalid ? 'not-allowed' : 'pointer' " [disabled]="inputForm.invalid" class="form__submit" type="submit">Submit</button>

</form>
<hr>
<table class="timer">
    <tr *ngIf="totalBalance > 0" class="timer__row" >
    <td colspan="7">{{totalBalance}}</td>
    </tr>
    <tr class="timer__row">
        <th class="timer__heading">ID</th>
        <th class="timer__heading">NAME</th>
        <th class="timer__heading">START</th>
        <th class="timer__heading">END</th>
        <th class="timer__heading">DURATION</th>
        <th class="timer__heading">Balance</th>
        <th class="timer__heading">Status</th>
    </tr>
    <tr class="timer__row" *ngFor="let input of inputs">
        <td class="timer__data">{{input.id}}</td>
        <td class="timer__data">{{input.name}}</td>
        <td class="timer__data">{{input.start}}</td>
        <td class="timer__data">{{input.end}}</td>
        <td class="timer__data">{{input.duration}}</td>
        <td class="timer__data">{{input.balance}}</td>
        <td class="timer__data">
            <button (click)="getTableDataStatus(input.id)" class="timer__button">Paid & Time</button>
        </td>
    </tr>
</table>

<audio src="../../assets/audio/Pay.mp3" id="pay" controls class="d-none"></audio>