.navbar{
    background-color: black;
    
    .navbar-brand{
        font-family: font("font6");
        text-transform: uppercase;
        font-size: 1em;
        &:hover{
            color:$color3;
        }
    }

    .navbar-nav{
        margin-left: auto;
        .nav-item{
            .nav-link{
                font-family: font("font3");
                color:white;
                text-transform: lowercase;
            }
        }
    }
}