.form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin:1em;
    .form__grouping{
        display: grid;
        grid-template-columns: 3fr 9fr;
        justify-content: center;
        align-items: center;
        align-content: center;
     
        padding:.5em 1em;
        .form__input{
            font-size: .8em;
            padding:1em 1em;
            font-family: font("font6");
          
        }
        .form__label{
            color:$color3;
            font-size: 1em;
           margin: auto 0;
            
        }
    }
    .form__submit{
        margin: 1em;
        padding:.5em 1em;
        border: none;
        grid-column: 2;
        background-color: white;
        color: black;
        transition: .5s;
        &:hover{
            color:white;
            background-color: darken($color3, 20%);
        }
    }
}