.timer-table{
    margin:1em auto;
    border:1px solid black;
    border-collapse: collapse;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    

    .timer-row{
        .timer-heading{
            padding:0.5em 2em;
            border-right: 1px solid black;
        }
      
        .timer-data{
            border-right: 1px solid black;
            padding:0.5em 2em;
            font-weight: lighter;
            font-family: font("font7");
            text-transform: uppercase;
            color:white;
        }
    }
  
    .timer-row:nth-child(even){
        background-color: $color4;
    }
    .timer-row:first-child{
      color:white;
      td{
          font-size: 2em;
        color:red;
      }
    }
}