$color1: #C4DAFF;
$color2: #99B5E6;
$color3: #576F99;
$color4: #E6CD9A;
$color5: #997F48;



//BREAKPOINTS
$breakpoint-desktop:1200px;
$breakpoint-laptop:992px;
$breakpoint-mini-laptop:768px;
$breakpoint-tablet:576px;
$breakpoint-mobile:400px;